@import 'src/assets/stylesheets/variables.scss';
@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';

.template-survey {
  max-width: 770px;
  height: fit-content;
  position: relative;
  background: $white;
  margin: auto;
  border-radius: 0.9375rem;
  @include multiple-responsive(small-mobile, mobile) {
    margin: 5rem 0.9375rem 8px 0.9375rem;
  }
  @include multiple-responsive(small-tablet, tablet) {
    margin-top: 8rem;
    margin-left: 38px;
    margin-right: 38px;
    max-width: 100%;
  }

  @include responsive(small-desktop) {
    margin-top: 10rem;
  }

  &__header {
    padding: 40px 40px 20px;
    border-bottom: 1px solid $whisper;
    @include multiple-responsive(small-mobile, mobile) {
      padding: 20px;
    }
    &__title {
      @include text(Merriweather-Bold, 1.5rem, $charcoal, null);
      text-transform: uppercase;
      margin-bottom: 0.875rem;
      @include flex(null, null, space-between);
      @include multiple-responsive(small-mobile, mobile) {
        font-size: 1.125rem;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__subscription {
      @include text(ProximaNova-Regular, 0.875rem, $charcoal, 20px);
    }
  }
  &__body {
    .group-question:last-child {
      border-bottom: none;
    }
  }
  &__footer {
    border-top: 1px solid $whisper;
    padding: 40px 48px 40px 40px;
    @include multiple-responsive(small-mobile, mobile) {
      padding: 20px;
    }
  }
}
