@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';
@import 'src/assets/stylesheets/variables.scss';

.form-radio {
  display: flex;
  margin-left: 20px;
  @include multiple-responsive(small-mobile, mobile, small-tablet) {
    margin-left: 0;
    .input-radio:first-child {
      margin-left: 0;
    }
  }
}
