@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';
@import 'src/assets/stylesheets/variables.scss';

.input-field {
  .form-label {
    @include text(ProximaNova-Regular, 1rem, $charcoal, 1rem);
  }
  .form-control {
    width: 100%;
    height: 39px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(69, 69, 69, 0.25);
    @include text(ProximaNova-Regular, 1rem, $charcoal, 1rem);
  }
  .password-error {
    color: red;
    position: relative;
    @include text(ProximaNova-Regular, 0.875rem, #e8565e, 0.875rem);
    span img {
      top: 12px;
      position: absolute;
    }
  }
}

.password-field {
  position: relative;
  .password-eye {
    top: 50%;
    right: 20px;
    position: absolute;
    transform: translateY(-50%);
  }
}

input[type='text' i] {
  @include text(ProximaNova-Regular, 1rem, #000, 1rem);
  padding-left: 25px;
}

input[type='password' i] {
  padding-left: 25px;
  @include text(ProximaNova-Regular, 1rem, #c4c4c4, 1rem);
}

.invalid-feedback {
  color: red;
  padding-top: 15px;
  padding-left: 25px;
  @include text(ProximaNova-Regular, 0.875rem, #e8565e, 0.875rem);
}

.extraQuestion {
  textarea {
    padding: 10px;
    min-height: 100px;
  }
  .invalid-feedback {
    color: red;
    padding-top: 10px;
    padding-left: 0px;
    @include text(ProximaNova-Regular, 0.875rem, #e8565e, 0.875rem);
  }
}
