@import 'src/assets/stylesheets/variables.scss';
@import 'src/assets/stylesheets/mixins.scss';

.custom-underline-input {
  @include text(Montserrat-Regular, 0.875rem, rgba(0, 0, 0, 0.3), null);

  height: 40px;
  background-color: transparent;

  border: transparent;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}
