@import 'src/assets/stylesheets/variables.scss';
@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';

.job-specific {
  @include multiple-responsive(small-mobile, mobile) {
    padding: 30px 15px;
    // display: block;
  }
  @include multiple-responsive(small-tablet, tablet) {
    padding: 40px 38px;
  }
  @include responsive(small-desktop) {
    padding: 40px 56px;
  }
  @include responsive(medium-desktop) {
    padding: 50px 86px;
  }
  @include responsive(medium-middle-desktop) {
    padding: 80px 135px;
  }
  &__intro {
    width: calc(50% - 15px);
    @include multiple-responsive(small-mobile, mobile, small-tablet) {
      width: 100%;
    }
    &__title {
      @include text(ProximaNova-Bold, 22px, $charcoal, null);
      padding-bottom: 20px;
    }
    &__description {
      @include text(ProximaNova-Regular, 18px, $charcoal, 30px);
      padding-bottom: 30px;
      @include multiple-responsive(small-mobile, mobile, small-tablet) {
        padding-bottom: 20px;
      }
    }
  }
  &__list-job {
    @include flex(null, null, space-between);
    flex-wrap: wrap;
    @include multiple-responsive(small-mobile, mobile) {
      padding: 20px 0 0;
    }
    @include multiple-responsive(small-tablet, tablet) {
      padding: 30px 0 0;
    }
    @include responsive(small-desktop) {
      padding: 40px 0 0;
    }
    @include responsive(medium-desktop) {
      padding: 50px 0 0;
    }
    @include responsive(medium-middle-desktop) {
      padding: 60px 0 0;
    }
  }
  &__job {
    text-align: center;
    @include multiple-responsive(small-mobile, mobile) {
      width: 100%;
    }
    @include multiple-responsive(small-tablet, tablet, small-desktop) {
      width: calc(50% - 15px);
    }
    @include responsive(medium-desktop) {
      width: calc(100% / 3 - 15px);
    }
    img {
      padding-bottom: 15px;
    }
    &__title {
      @include text(ProximaNova-Bold, 22px, $charcoal, null);
      padding-bottom: 10px;
    }
    &__description {
      text-align: left;
      @include text(ProximaNova-Regular, 18px, $charcoal, 30px);
      padding-bottom: 40px;
    }
  }
}
