.business-profile-keyskills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  &__item {
    width: fit-content;
    padding: 10px 30px;
    margin-right: 20px;

    border-radius: 20px;
    background-color: #f6f6f6;

    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
}
