@import 'src/assets/stylesheets/variables.scss';
@import 'src/assets/stylesheets/mixins.scss';

.test-information-detail {
  padding: 16px 20px;
  border-radius: 10px;
  background-color: $white;

  &__title {
    @include text(Montserrat-Regular, 0.875rem, $black, null);
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__content {
    @include text(Montserrat-Regular, 0.875rem, $black, null);
  }
}
