.confirm-dialog-input {
  font-family: 'ProximaNova-Regular' !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  font-variant: tabular-nums;
  list-style: none !important;
  font-feature-settings: "tnum", "tnum";
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  min-width: 0 !important;
  padding: 12px 11px !important;
  color: #000 !important;
  font-size: 14px !important;
  line-height: 1.5715 !important;
  background-color: #f0f2f5 !important;
  background-image: none !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 4px !important;
  -webkit-transition: all .3s !important;
  transition: all .3s !important;
}