@import 'src/assets/stylesheets/variables.scss';
@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';

.input-radio {
  display: block;
  margin-left: 20px;
  position: relative;

  &__checkmark {
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid $whisper;
    box-sizing: content-box;
    @include square(20px, 50%);

    &::after {
      content: '';
      margin: 4px;
      display: none;
      position: absolute;
      background: $sherpa-blue-2;
      @include square(12px, 50%);
    }
  }
  &__label {
    @include text(ProximaNova-Regular, 1rem, $charcoal, null);
    height: 20px;
    padding-top: 4px;
    margin-left: 35px;
  }
  input {
    margin: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    @include square(20px, null);

    &:checked ~ .input-radio__checkmark {
      &:after {
        display: block;
      }
    }
    &:disabled {
      cursor: auto;
    }
  }
}
