@import 'src/assets/stylesheets/common.scss';
@import 'src/assets/stylesheets/mixins.scss';
@import 'src/assets/stylesheets/variables.scss';

.login-modal {
  top: 0;
  left: 5%;
  right: 5%;
  z-index: 5;
  height: 100%;
  position: fixed;
  align-items: center;
  @include flex(null, null, center);

  @include multiple-responsive(mobile, small-mobile) {
    top: 0;
  }
  @include multiple-responsive(tablet, small-tablet) {
    top: 0;
  }
  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    margin: 0 auto;
    min-height: 100vh;
    position: absolute;
    background-color: $black-opacity-45;
  }
  &__modal {
    margin: 0 4rem;
    overflow-y: auto;
    @include multiple-responsive(mobile, small-mobile, tablet, small-tablet) {
      margin: 0;
    }
    &__background {
      max-width: 1168px;
      position: relative;
      background: #ffffff;
      border-radius: 1.25rem;
    }
    &__close {
      padding: 25px;
      cursor: pointer;
      text-align: right;

      @include multiple-responsive(small-mobile, mobile, small-tablet, tablet) {
        padding: 15px;
        padding-bottom: 0;
      }
      img {
        height: 30px;
        @include multiple-responsive(
          mobile,
          tablet small-mobile,
          small-tablet
        ) {
          height: 15px;
        }
      }
    }
    &__body {
      display: flex;
      @include multiple-responsive(small-mobile, mobile) {
        flex-direction: column;
      }
      @include multiple-responsive(small-tablet, tablet) {
        flex-direction: column;
      }
      &__left {
        padding: 0rem 3.75rem;
        @include multiple-responsive(small-mobile, mobile, small-tablet) {
          padding: 0 20px;
        }
        h2 {
          @include text(Georgia-Bold, 1.5rem, $charcoal, 2.625rem);

          @include multiple-responsive(small-mobile, mobile, small-tablet) {
            @include text(Georgia-Bold, 14px, $charcoal, 1.6rem);
          }
        }
        &__body {
          padding-top: 10px;
          @include text(ProximaNova-Regular, 1.125rem, $charcoal, 1.875rem);

          @include multiple-responsive(small-mobile, mobile, small-tablet) {
            @include text(ProximaNova-Regular, 12px, $charcoal, 1.5rem);
          }
        }
        &__footer {
          display: flex;
          padding-top: 1.875rem;
          flex-direction: column;
          padding-bottom: 1.875rem;
          justify-content: flex-start;
          @include text(ProximaNova, 1rem, $charcoal, 1.6875rem);

          @include multiple-responsive(small-mobile, mobile) {
            @include text(ProximaNova, 12px, $charcoal, 1.5rem);
            padding: 10px 0;
            align-items: center;
            flex-direction: column;
          }
          @include multiple-responsive(small-tablet, tablet) {
            padding: 15px 0;
            align-items: center;
            justify-content: center;
          }
          &--signUp {
            width: 180px;
            height: 44px;
            cursor: pointer;
            border-radius: 30px;
            color: $sherpa-blue-3;
            background-color: #fff;
            border: 1px solid $sherpa-blue-3;
            @include text(ProximaNova, 1rem, $charcoal, 1.6875rem);

            @include multiple-responsive(small-mobile, mobile) {
              margin-bottom: 10px;
            }
          }
          &--display-none {
            display: none;
          }
          &--update-profile {
            align-items: stretch;
            @include multiple-responsive(small-mobile, mobile) {
              @include text(ProximaNova, 12px, $charcoal, 1.5rem);
              padding: 10px 0;
            }
            @include multiple-responsive(mall-tablet, tablet) {
              padding: 15px 0;
            }
          }
          &__input-field {
            padding: 10px 0;
            .form-control {
              width: 100%;
              height: 39px;
              border-radius: 8px;
              box-sizing: border-box;
              background-color: #fff;
              border: 1px solid rgba(69, 69, 69, 0.25);
              @include text(ProximaNova-Regular, 1rem, $charcoal, 1rem);
            }
          }
        }
      }
      &__right {
        padding-right: 3.75rem;
        @include multiple-responsive(
          small-mobile,
          mobile,
          small-tablet,
          tablet
        ) {
          text-align: center;
        }
        img {
          height: 22rem;
          padding-bottom: 2rem;
          @include multiple-responsive(small-mobile, mobile) {
            height: 10rem;
            padding-bottom: 10px;
          }
          @include multiple-responsive(small-tablet, tablet) {
            height: 15rem;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}
